name: Build

on:
  push:
    branches: [ 'main' ]
    tags: [ 'v*' ]
    paths-ignore:
      - 'README.md'
      - 'LICENSE.md'
      - '*.png'
  pull_request:
    branches: [ 'main' ]
    paths-ignore:
      - 'README.md'
      - 'LICENSE.md'
      - '*.png'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    env:
      ZENSICAL_VERSION: 0.0.5
      IMAGE_REPO: ${{ secrets.DOCKERHUB_USERNAME }}/zensical
      IMAGE_TAG_SHA: ${{ github.sha }}
      IMAGE_TAG_REF: ${{ github.ref_name }}
      IMAGE_NAME_SHA: ${{ secrets.DOCKERHUB_USERNAME }}/zensical:${{ github.sha }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Get Zensical version
        shell: pwsh
        run: |
          "ZENSICAL_VERSION=$(((cat req*.txt | sls '^zensical') -split '==')[1])" | Set-Content $env:GITHUB_ENV

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.IMAGE_REPO }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=semver,pattern={{version}},value=${{ env.ZENSICAL_VERSION }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        id: login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/') }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            ZENSICAL_VERSION=${{ env.ZENSICAL_VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
